<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <script src="/js/toggle.js"></script>
    <title>Menú Administrador</title>
</head>
  <body>
    <div class="sidebar" id="mySidebar">

      <div class="menu-toggle-container">
        <button onclick="toggleSidebar()" class="menu_toggle_icon"></button>
      </div>


      <div class="sidebar-content">
        <!-- título -->

        <h2 class="title-item">Menú</h2>

        <a  onclick="content_switch('user_options')" class="menu-item">
          <img src="/images/user.png" class="menu-option-icon" alt="">
          <%= username %>
        </a>

        <a  onclick="content_switch('conferencias')" class="menu-item">
          <img src="/images/presentation.png" class="menu-option-icon" alt="">
            Conferencias
        </a>

        <a  onclick="content_switch('salas')" class="menu-item">
          <img src="/images/classroom.png" class="menu-option-icon" alt="">
            Salas
        </a>

        <a  onclick="content_switch('usuarios')" class="menu-item">
          <img src="/images/profile.png" class="menu-option-icon" alt="">
            Usuarios
        </a>

        <a href="/logout" class="menu-item">
          <img src="/images/logout.png" class="menu-option-icon" alt="">
            Salir
        </a>
      </div>
    </div>
      

      <!-- Contenido Principal de la página. Editar para hacer los menús -->

    <div class="main-content" >

        <a onclick="content_switch('user_info')">
          <img src="/images/home.png" alt="">
        </a>
              
      <div id="user_info">
        <h1>Información del Usuario</h1>
        <h2>Username: <%= username %></h2>
        <h2>Nombre Completo: <%= full_name %></h2>
        <h2>Email: <%= email %></h2>
        <h2>Tipo de Usuario: <%= user_type %></h2>
      </div>

      <div id="user_options">
        <h1>User Options</h1>
      </div>

      <!-- Content for Conferencias -->
      <div id="conferencias">
        <h1>Conferencias</h1>
        <!-- Add your content here -->
      </div>

      <!-- Content for Salas -->
      <div id="salas">
        <h1>Salas</h1>
        <!-- Add your content here -->
      </div>

      <!-- Content for Usuarios -->
      <div id="usuarios">
        <h1>Usuarios</h1>
        <!-- Add your content here -->
      </div>

    </div>
    <script src="/js/content_switch.js"></script>
  </body>
</html>
