<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <script src="/js/toggle.js"></script>
    <title>Simple Sidebar Menu</title>
</head>
  <body>

    <div class="sidebar" id="mySidebar">
        <!-- Botón de toggle  -->

      <div class="menu-toggle-container">
        <button onclick="toggleSidebar()" class="menu_toggle_icon"></button>
      </div>


      <div class="sidebar-content">
        <!-- título -->

        <h2 class="title-item">Menú</h2>

        <!--  MODIFICAR PARA EJECUTAR JAVASCRIPT  -->
        <!--  <a href="#" onclick="myFunction()">Click me</a>        -->
        <a href="/logout" class="menu-item">
          <img src="/images/user.png" class="menu-option-icon" alt="">
          <%= username%>
        </a>

        <!--  MODIFICAR PARA EJECUTAR JAVASCRIPT  -->
        <!--  <a href="#" onclick="myFunction()">Click me</a>        -->
        <a href="/logout" class="menu-item">
          <img src="/images/presentation.png" class="menu-option-icon" alt="">
            Mis conferencias
        </a>

        <!--  MODIFICAR PARA EJECUTAR JAVASCRIPT  -->
        <!--  <a href="#" onclick="myFunction()">Click me</a>        -->
        <a href="/logout" class="menu-item">
          <img src="/images/classroom.png" class="menu-option-icon" alt="">
            Itinerarios
        </a>

        <!-- Botón de logout 󰗼 -->
        <a href="/logout" class="menu-item">
          <img src="/images/logout.png" class="menu-option-icon" alt="">
            Salir
        </a>

      </div>
    </div>
      

      <!-- Contenido Principal de la página. Editar para hacer los menús -->

    <div class="main-content">
      <h1>  DASHBOARD PONENTE</h1>
      <h2><%= username%></h2>
      <h3>Nombre Completo: <%= full_name %></h3>
      <h3>Email: <%= email %></h3>
      <h3>Tipo de Usuario: <%= user_type  %></h3>
      <p>This is the main content area of your webpage.</p>
    </div>

  </body>
</html>

